direcciones/Service References/direccion/direccionIP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="direccion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ip" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="direccionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="direccionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="direccionSoapIn">
    <wsdl:part name="parameters" element="tns:direccion" />
  </wsdl:message>
  <wsdl:message name="direccionSoapOut">
    <wsdl:part name="parameters" element="tns:direccionResponse" />
  </wsdl:message>
  <wsdl:portType name="direccionIPSoap">
    <wsdl:operation name="direccion">
      <wsdl:input message="tns:direccionSoapIn" />
      <wsdl:output message="tns:direccionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="direccionIPSoap" type="tns:direccionIPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="direccion">
      <soap:operation soapAction="http://tempuri.org/direccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="direccionIPSoap12" type="tns:direccionIPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="direccion">
      <soap12:operation soapAction="http://tempuri.org/direccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="direccionIP">
    <wsdl:port name="direccionIPSoap" binding="tns:direccionIPSoap">
      <soap:address location="http://localhost:2469/direccionIP.asmx" />
    </wsdl:port>
    <wsdl:port name="direccionIPSoap12" binding="tns:direccionIPSoap12">
      <soap12:address location="http://localhost:2469/direccionIP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>